    
    body{
      font-family: 'Rubik', sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #879099;
      background: #fafbfc;
      margin: 0;
    }
    h4{
      color: #475059;
    }
    .content{
      margin: 6em;
      min-height: 172px;
    }
    .words{
      width: 500px;
    }
    .clear{
      clear: both;
    }
    .left{
      float: left;
    }
    .col ul{
      list-style-type: none;
      padding: 0;
    }
    .col ul li{
      padding-bottom: .4em;
      font-size: 13px;
    }
    .words{
      float: left;
    }
    .entry{
      padding: 6em;
      color: #fafbfc;
    }
    .entry p{
      text-align: left;
      line-height: 1.3em;
    }
    .entry span{
      font-weight: 500;
    }
    .entry .details{
      width: auto;
      min-width: 610px;
      max-width: 680px;
      min-height: 670px;
      margin: 0 auto;
      -webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.41);
      -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.41);
      box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.41);
    }
    .entry .contain{
      width: auto;
      min-width: 610px;
      max-width: 680px;
      margin: 0 auto;
      margin-top: 2em;
    }
    .contain h4{
      font-weight: 100;
    }
    .one{
      background: #2693FF;
    }
    .two{
      background: #17B7E8;
    }
    .three{
      background: #19FFF8;
    }
    a{
      -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
    }
    a, a:hover, a:visited{
      color: #2693ff;
      font-weight: 400;
    }
    a:hover{
      cursor: pointer;
      text-decoration: none;
    }
    h1{
      font-weight: 400;
      color: #475059;
    }
    h1 span{
      font-weight: 700;
    }
    .content p{
      line-height: 1.4em;
    }
    img{
      -webkit-box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.19);
      -moz-box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.19);
      box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.19);
    }
    .icons{
      float: right;
      list-style-type: none;
    }
    .icons li{
      margin-bottom: 1em;
    }
    .icons li i{
      color: #475059;
      -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
    }
    .icons li i:hover{
      color: #2693ff;
      cursor: pointer;
    }

    #page-wrap { width: 720px; margin: 0px auto; padding: 3em 0 3em 0; border-bottom: 1px solid #E1E4E7;}
    #page-wrap > div { margin: 0 0 50px 30px; min-width: 500px; width: 100%; }

    .group:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .group { 
      display: inline-block; 
    }

    .five-columns .col {
      width: 20%; 
      float: left; 
      padding: 2%;
    }
    .contact{
      padding: 3em 0 3em 0;
      text-align: center;
    }
    .entry i, .entry h4, .entry a{
      color: #475059;
      text-decoration: none;
    }
    .entry i, .entry a{
      -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
    }
    .entry a:hover{
      color: #fafbfc;
      cursor: pointer;
    }
    .entry a{
      float: right;
    }
    .entry h4{
      display: inline;
    }

    .one .details{
      background: url(../img/ghostery/01.png) no-repeat center 20px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .two .details{
      background: url(../img/canopy/01.png) no-repeat center 20px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .three .details{
      background: url(../img/ssh/01.png) no-repeat center 20px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .browser{
      width: 676px;
      height: 20px;
      max-width: 676px;
      max-height: 20px;
      padding-left: 4px;
      background-color:rgba(255,255,255,.5);
      -webkit-border-top-left-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-topright: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .browser i{
      display: block;
      float: left;
      margin: 4px;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;

    }
    .browser .red{
      background-color: #D0021B;
    }
    .browser .yellow{
      background-color: #F8E81C;
    }
    .browser .green{
      background-color: #7ED321;
    }







